.h5, h5 {
  font-size: 1.25rem;
  font-family: Muli;
  font-size: 19px;
  line-height: 24px;
  text-align: left;
  font-weight: bold;
}

.h6, h6 {
  font-family: Muli;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: rgba(159, 162, 180, 1);
}

 .btn-outline-secondary {
  --bs-btn-color: #6c757d;
  --bs-btn-hover-color: rgb(60, 0, 255); 
  --bs-btn-focus-shadow-rgb: 108,117,125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}

#page-content-wrapper {
  background-color: rgb(247, 248, 252, 1);
}

.sidebar {
  width: 400px;
  background-color:rgb(54, 55, 64, 1);
;
}

.sidebar-heading, .list-group-item {
  background-color: rgb(54, 55, 64, 1);
  color: white;
}


.list-group-flush>.list-group-item {
  border-width: 0 0 var(--bs-list-group-border-width);
  background: rgb(249, 249, 249);
  color: rgb(54, 55, 64, 1);
}


.highlighted {
  background: rgba(159, 162, 180, 1);
  opacity: 100%;
  border-left: 4px solid white;
}


.list-item {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
  text-decoration: none;
}

.overview-dashboard {
  justify-content: space-between;
}

.grey {
  padding-right: 10px;
}

.profile {
  flex-wrap: nowrap;
}

.overview-top {
  display: flex;
  flex-wrap: wrap; /* This allows tiles to wrap onto the next line on smaller screens */
  gap: 20px; /* This sets the gap between the tiles */
  justify-content: space-between; /* This will put equal space between the elements */
  align-items: stretch; /* This ensures that the tiles stretch to fill the container height */
  margin: 10px;
}


.top-tiles, .overview-middle, .bottom-tile {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
  flex: 1;
  padding: 20px;
  margin-top: 12px;
  background-color: rgb(249, 249, 249);
}


.top-tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 258px;
  margin-bottom: 12px;
  transition: border-color 0.5s ease;
  transition: color 0.5s ease;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
  padding: 20px;
  margin-top: 12px;
  background-color: rgb(249, 249, 249);
 
}

.top-tiles:hover {
  border-color: rgb(60, 0, 255);
  color: rgb(60, 0, 255);
}

.top-tiles h5, .top-tiles h2 {
  text-align: center;
  margin: 0; /* Adjust as needed for spacing */
}
.border-none {
  border: none;
}

.overview-middle {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.overview-bottom {
  display: flex; /* Set up a flex container */
  flex-wrap: wrap; /* Allow the items to wrap to the next line */
  gap: 20px; /* This is the space between the items, you can adjust this value as needed */
  margin: 10px; /* This maintains the existing margin around the outside of the container */
  justify-content: space-between; /* If you want to maintain space between items even on the edges */
}

.line-graph-img {
  max-width: 100%;
  max-height: 100%;
}

.info {
  margin: auto;
}

.stats-group {
  border-bottom: 1px solid lightgrey;
}

.border-none {
  border: none;
}

.unresolved-numbers {
  color: rgb(149, 149, 149);
}

.unresolved-tickets-group {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
