$dark-grey: rgb(27, 27, 28);
$blue-hover: rgb(60, 0, 255);


#page-content-wrapper {
    background-color: rgb(239, 239, 239);
}

.sidebar {
    width: 400px;
    background-color: $dark-grey;
}

.sidebar-heading, .list-group-item {
    background-color: $dark-grey;
    color: white;
}

.highlighted {
    background-color: rgb(49, 49, 49);
    border-left: 4px solid white;
}

.list-item {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
    text-decoration: none;
}

.overview-dashboard {
    justify-content: space-between;
}

.grey {
    color: rgb(179, 179, 179);
    padding-right: 10px;
}

.profile {
    flex-wrap: nowrap;
}

.overview-top {
    justify-content: center;
    width: 100%;
}

.top-tiles, .overview-middle, .bottom-tile {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 10px;
    padding: 20px;
    margin-top: 12px;
    background-color: rgb(249, 249, 249);
}

.top-tiles {
    width: 258px;
    margin-bottom: 12px;
    transition: border-color 0.5s ease;
    transition: color 0.5s ease;
}

.top-tiles:hover {
    border-color: $blue-hover;
    color: $blue-hover;
}

.border-none {
    border: none;
}

.overview-middle {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.overview-bottom {
    margin: 10px;
}

.line-graph-img {
    max-width: 100%;
    max-height: 100%;
}

.info {
    margin: auto;
}

.stats-group {
    border-bottom: 1px solid lightgrey;
}

.border-none {
    border: none;
}

.unresolved-numbers {
    color: rgb(149, 149, 149);
}

.unresolved-tickets-group {
    display: flex;
    justify-content: space-between;
}